.dispBlock {
  display: block;
  color: red;
}

.dispNone {
  display: none;
}
.top1container {
  display: flex;
  flex-direction: row;
}

.veg {
  color: green;
}
.non-veg {
  color: red;
}
.summary {
  margin-left: 20%;
  width: 30%;
  margin-right: 5%;
  height: 80%;
}
.map-class {
  display: flex;
  flex-direction: row;
}
.font-class {
  width: 200px;
}
.quantity {
  width: 100px;
}
.awesome-class {
  width: 100px;
}
.apply-button {
  margin-left: 100px;
}

.coupon-class {
  display: flex;
  flex-direction: row;
}
.subtotal {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  color: grey;
}
.faRupee {
  margin-left: 220px;
}

.discount {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  color: grey;
}
.net-amount {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

@media screen and (max-width: 1100px) {
  .top1container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
  }
  .summary {
    margin-top: 5%;
    margin-left: 0%;
    width: 100%;
    margin-right: 0%;
    height: 80%;
  }

  .map-class {
    display: flex;
    flex-direction: row;
  }
  .font-class {
    width: 200px;
  }
  .quantity {
    width: 200px;
  }
  .awesome-class {
    width: 200px;
  }
  .coupon-class {
    display: flex;
    flex-direction: row;
  }
  .apply-button {
    margin-left: 100px;
  }

  .subtotal {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    color: grey;
  }
  .faRupee {
    margin-left: 220px;
  }

  .discount {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    color: grey;
  }
  .net-amount {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
  }
}

@media screen and (max-width: 500px) {
  .top1container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .summary {
    margin-top: 5%;
    margin-left: 0%;
    width: 100%;
    margin-right: 0%;
    height: 50%;
    flex-wrap: wrap;
  }

  .map-class {
    display: block;
    flex-wrap: wrap;
    width: 100%;
  }
  .font-class {
    width: 50px;
  }
  .quantity {
    width: 50px;
  }
  .awesome-class {
    width: 50px;
  }
  .coupon-class {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .apply-button {
    margin-left: "0%";
  }

  .coupon-class {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .subtotal {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    color: grey;
    flex-wrap: wrap;
  }
  .faRupee {
    margin-left: 1px;
  }

  .discount {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    color: grey;
    flex-wrap: wrap;
  }
  .net-amount {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    flex-wrap: wrap;
  }
}
